{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Unlock your Humana benefits with HealthyBenefitsPlus.com/Humana! Access wellness programs, manage OTC allowances, track rewards, and maximize your healthcare perks quickly and easily." />
    <meta name="keywords" content="HealthyBenefitsPlus.com/Humana, Humana benefits portal, Humana member login, manage Humana plan, Humana wellness programs" />
    <meta name="robots" content="index, follow" />
    <title>Unlock Your Humana Benefits at HealthyBenefitsPlus.com/Humana – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
