{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="hs27bbO_sbzCF_6Ff_DxTPHhZ86H00d0oeumKHV0rI4" />
    <meta name="msvalidate.01" content="938E52F9B3F2A327B1E40BFFC27356FE" />
    <meta name="description" content="Unlock your Humana benefits with HealthyBenefitsPlus.com/Humana! Access wellness programs, manage OTC allowances, track rewards, and maximize your healthcare perks quickly and easily." />
    <meta name="keywords" content="HealthyBenefitsPlus.com/Humana, Humana benefits portal, Humana member login, manage Humana plan, Humana wellness programs" />
    <meta name="robots" content="index, follow" />
    <title>Unlock Your Humana Benefits at HealthyBenefitsPlus.com/Humana – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
